<div class="history">
	<div class="cd-timeline-header"><h2 id="Experenice">Ladders to Life</h2><hr class="bar"/></div>
	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block"><div class="cd-timeline-img cd-picture"><img src="../assets/img/cake.svg" alt="Intern"/></div><!-- cd-timeline-img--><div class="cd-timeline-content"><h2 class="story-heading">BORN</h2><P>This child here;<br> he has so much potential hidden under need.</P><span class="cd-date">January 25, 1995</span></div><!-- cd-timeline-content--><!-- cd-timeline-block--></div>

		<div class="cd-timeline-block"><div class="cd-timeline-img cd-picture"><img src="../assets/img/college.svg" alt="Picture"/></div><!-- cd-timeline-img--><div class="cd-timeline-content"><h2 class="story-heading">1st day of school</h2><P>Going to face a new world. Happy but ... Nervous. 1st day away from parents.</P><span class="cd-date">After 5 years</span></div><!-- cd-timeline-content--><!-- cd-timeline-block--></div>

		<div class="cd-timeline-block"><div class="cd-timeline-img cd-movie"><img src="../assets/img/Question.svg" alt="Intern"/></div><!-- cd-timeline-img--><div class="cd-timeline-content"><h2>Why? What? How?</h2><p>Always have something to ask. Nick name given: Question bank. </p><span class="cd-date">After 10 Years</span></div><!-- cd-timeline-content--><!-- cd-timeline-block--></div>

    	<div class="cd-timeline-block"><div class="cd-timeline-img cd-movie"><img src="../assets/img/plane.svg" alt="Intern"/></div><!-- cd-timeline-img--><div class="cd-timeline-content"><h2>New Country, New People</br> with a faith to do Big</h2><p>Arrived to Canada to do something different. </p><span class="cd-date">August 17, 2014</span></div><!-- cd-timeline-content--><!-- cd-timeline-block--></div>

      <div class="cd-timeline-block"><div class="cd-timeline-img cd-picture"><img src="../assets/img/college.svg" alt="Picture"/></div><!-- cd-timeline-img--><div class="cd-timeline-content"><h2 class="story-heading">1st day of College</h2><P>Started making some efforts to make my dream come true.</P><span class="cd-date"> 7 September ,2014</span></div><!-- cd-timeline-content--><!-- cd-timeline-block--></div>

            <div class="cd-timeline-block"><div class="cd-timeline-img cd-picture"><img src="../assets/img/web-programming.svg" alt="Picture"/></div><!-- cd-timeline-img--><div class="cd-timeline-content"><h2 class="story-heading">1st Job, 1st Day</h2><P>Got the chance for what I was waiting for.</P><span class="cd-date"> 29 August ,2016</span></div><!-- cd-timeline-content--><!-- cd-timeline-block--></div>

		<div class="cd-timeline-block"><div class="cd-timeline-img cd-location"><img src="../assets/img/question30.svg" alt="Location"/></div></div><!-- cd-timeline-->
	</section>
	<div class="cd-timeline-header"><h2></h2></div>
</div>
